# Development
_build
*.py[cod]
*.so
*.egg-info
MANIFEST
.hypothesis/
.ipynb_checkpoints/
.idea/
.vscode/
_generate
build
venv
*.sublime*
.eggs/
.cache/
dist/
tmp/
var/

# Main directory testing
/*.pdf
/*.ipynb
/debug_tests.py
/TODO

# macOS
.DS_Store

/__qpdf/
/qpdf-7.0.0/
/tests/resources/private/
/tmp_rpms/