global-exclude *.pyc
include src/core/*.h
recursive-include tests/ *.py
recursive-include tests/resources/ *
recursive-exclude tests/resources/private/ *
recursive-exclude .github/ *
recursive-exclude build-scripts/ *