# SPDX-FileCopyrightText: 2023 James R. Barlow
# SPDX-License-Identifier: MPL-2.0

include src/core/*.h
graft tests
prune tests/resources/private
prune .github
prune build-scripts
graft docs
prune docs/_build
global-exclude *.py[cod]
