[build-system]
requires = [
  "setuptools >= 30.3.0",
  "wheel",
  "setuptools_scm",
  "setuptools_scm_git_archive",
  "pybind11 >= 2.3.0, < 3"
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target-version = ["py35", "py36", "py37", "py38"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | docs
  | misc
  | \.egg-info
)/
'''
