# setup.cfg is too complicated for readthedocs, so hold its hand

lxml >= 4.0
Pillow >= 6.0  # only needed for images; technically removable

ipython
matplotlib
pybind11
setuptools_scm
Sphinx >= 3
sphinx-issues
sphinx-rtd-theme